<main class="mb-16" *ngIf="{
    productList: productList$ | async
} as obervable">
    <div class="mt-24"> <app-breadcrumb></app-breadcrumb></div>
   
    <div class="pa-24 pt-0">
        <mat-grid-list cols="5" rowHeight="300px" gutterSize="30" *ngIf="obervable.productList?.total !== 0">
            <mat-grid-tile class="pa-4" *ngFor="let product of obervable.productList?.list">
                <mat-card (click)="onProductClick(product)" class="pa-0 mat-elevation-z0">
                    <img class="ma-0" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="products">
                    <mat-card-content>
                      <div class="w-p100" class="card-content" fxLayout="column">
                        <span>{{product?.title}}</span>
                        <label>{{ product?.category?.title }}</label>
                        <span>Rs. {{product?.price}}</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
          <div fxLayout fxLayoutAlign="center center" class="mt-48" *ngIf="obervable.productList?.total !== 0">
            <mat-paginator color="primary" [length]="obervable.productList?.total"
              [pageSize]="recordPerPage"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="onPaginationChange($event)"
              aria-label="pagination">
            </mat-paginator>
          </div>

        <div fxLayout fxLayoutAlign="center center" class="mt-64" *ngIf="obervable.productList?.total === 0">
            <img alt="no data" width="600" src="https://cdn.dribbble.com/userupload/2905353/file/original-2022966da1fc3718d3feddfdc471ae47.png" />
        </div>
    </div>
</main>
