<main class="pa-32" *ngIf="{
    productDetails: productDetails$ | async
} as observable">
    <div fxLayout="row">
        <div fxFlex="50" class="image-view">
            <mat-grid-list cols="2" rowHeight="500" gutterSize="20">
                <mat-grid-tile *ngFor="let i of [1,2,3,4]">
                    <img 
                    src="https://via.placeholder.com/300x700"
                />
                </mat-grid-tile>
              </mat-grid-list>
        </div>
        <div fxFlex="50" fxLayout="column" class="product-desc">
            <h1>{{ observable?.productDetails?.title }}</h1>
            <span class="sub-title">{{ observable?.productDetails?.category?.title || 'category'}}</span>
            <span class="mb-16">
                <div class="rating" fxLayout fxLayoutAlign="flex-start center" >
                    <span>4.3 </span><mat-icon>star</mat-icon> | 18.2k Ratings
                </div>
            </span>
            <mat-divider></mat-divider>
            <div>
                <h2 class="price">₹{{ observable?.productDetails?.price }} MRP ₹499(60% OFF)</h2>
            </div>
            <div>
                <span class="tax">inclusive of all taxes</span>
            </div>
            <div class="pa-24 pl-0">
                <button mat-flat-button class="mr-24" color="primary">
                    <mat-icon>shopping_cart</mat-icon>
                    ADD TO BAG</button>
                <button mat-stroked-button>
                    <mat-icon>favorite_outlined</mat-icon>
                    WHISHLIST</button>
            </div>
            <mat-divider></mat-divider>
            <div class="mt-16">
                <h2 class="side-heading">DESCRIPTION</h2>
                <p class="mt-8`">{{ observable?.productDetails?.description }}</p>
            </div>
        </div>
    </div>
</main>
